<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiaryApp">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.DiaryApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DiaryApp.NoActionBar" />
        <activity
            android:name=".AuthActivity"
            android:exported="false"
            android:theme="@style/Theme.DiaryApp.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.DiaryApp.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.DiaryApp.NoActionBar" />
        <activity
            android:name=".EditEntryActivity"
            android:exported="false"
            android:theme="@style/Theme.DiaryApp.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ui.home.EditNoteActivity" android:theme="@style/Theme.DiaryApp.NoActionBar" android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoginPageCustomizeActivity"
            android:exported="false"
            android:theme="@style/Theme.DiaryApp.NoActionBar" />
        <activity android:name=".BackupRestoreActivity" android:theme="@style/Theme.DiaryApp.NoActionBar" />
        <activity android:name=".RestoreDataActivity" android:theme="@style/Theme.DiaryApp.NoActionBar" />
        <activity android:name=".PostAuthRouterActivity" />
        <activity android:name=".ui.home.RecycleBinActivity" android:theme="@style/Theme.DiaryApp.NoActionBar" />
        <activity android:name=".ThemePictureSelectionActivity" android:theme="@style/Theme.DiaryApp.NoActionBar" />
        <activity android:name=".DiaryViewerActivity" android:theme="@style/Theme.DiaryApp.NoActionBar" />
        <activity android:name=".NotesViewerActivity" android:theme="@style/Theme.DiaryApp.NoActionBar" />
        <activity android:name=".ImageViewerActivity" android:theme="@style/Theme.DiaryApp.NoActionBar" />
        <activity android:name=".VersionUpdatesActivity" android:theme="@style/Theme.DiaryApp.NoActionBar" />
        

        
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        
        <!-- Widget Provider -->
        <receiver
            android:name=".widget.NotesWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/notes_widget_info" />
        </receiver>
    </application>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
</manifest>